input,textarea{
    border: 2px solid yellow;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 10px;


}
p{
    align-items: center;
}
.maIn{
    width: 100%;
    background-color: bisque;
    border-radius: 8px;
    padding: 15px;
}